body{
    width: 100vw;
}

.header{
    background-color: #7253B0;
    width: 100vw;
    height: 286px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bloco-infos{
    background-color: #FFFFFF;
    width: 93%;
    height: 243px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}

.bloco-infos label{
    margin-top: 20px;   
    margin-bottom: 10px;
    margin-left: 20px;
    font-family: Inter, sans-serif;
    font-size: 12px;
}

.bloco-infos input{
    background-color: #F5F5F5;
    width: 84%;
    height: 60px;
    border-radius: 8px;
    border: none;
    padding-left: 15px;
    margin-bottom: 20px;
    margin-left: 16px;
    font-family: Inter, sans-serif;
    font-size: 12px;
}


.bloco-infos button{
    background-color: #7253B0;
    color: white;
    height: 60px;
    border: none;
    border-radius: 8px;
    width: 84%;
    margin-left: 23px;
    margin-bottom: 15px;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 500;
}


.bloco-spans{
    display: flex;
    justify-content: space-evenly;
}

.bloco-spans span{
    background-color: #F1EEF8;
    padding: 7px;
    border-radius: 9px;
    color: #7253B0;
    font-size: 12px;
    font-weight: 400;
    font-family: Poppins, sans-serif;
}

.main{
    display: flex;
    flex-direction: column;
    padding-top: 17px;
}

.nova-iorque{
    display: none;
    font-size: 14px;
    font-weight: 400;
    font-family: Poppins, sans-serif;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    width: 250px;
    text-align: center;
}

.sem-imagem{
    display: none;
    font-size: 14px;
    font-weight: 400;
    font-family: Poppins, sans-serif;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    width: 250px;
    text-align: center;
}

.sem-imagem-pesquisada{
    display: none;
    font-size: 14px;
    font-weight: 400;
    font-family: Poppins, sans-serif;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    width: 250px;
    text-align: center;
}

.bloco-imagem{
    margin-left: auto;
    margin-right: auto;
}

.bloco-imagem img{
    width: 297px;
    height: 256px;
    border-radius: 5px;
}

.bloco-imagem figcaption{
    display: none;
}

.bloco-descricao{
    display: flex;
    justify-content: space-around;
    margin-top: 18px;
    margin-bottom: 10px;
}

.textos{
    height: 67px;
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background: #FFFFFF;
    border: 1.48962px solid #F8F9FA;
    border-radius: 3.72406px;
    box-shadow: 0px 10px 10px 10px rgba(0, 0, 0, 0.25);
    padding-left: 10px;
}

.textos p{
    font-size: 15px;
    font-weight: 700;
    font-family: Poppins, sans-serif;
}

.textos span{
    color: #878787;
    font-size: 12px;
    font-weight: 400;
    font-family: Poppins, sans-serif;
}

.bloco-botoes{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.bloco-botoes button{
    border: none;
    background-color: #7253B0;
    color: white;
    border-radius: 4px;
    height: 37px;
    width: 40px;
}

.botao-proximo-pesquisas{
    display: none;
}

.botao-anterior-pesquisas{
    display: none;
}

@media screen and (min-width: 611px) {
    .bloco-infos{
        flex-direction: row;
        flex-wrap: wrap;
        height: 153px;
    }

    .bloco-infos label{
        width: 100%;
        margin-bottom: 0px;
    }

    .bloco-infos input{
        width: 65%;
        margin-bottom: 0px;
    }

    .bloco-infos button{
        width: 22%;
    }

    .bloco-infos span{
        height: 15px;
        margin-left: 20px;
    }

    .bloco-spans{
        margin-bottom: 5px;
    }

    .bloco-imagem img{
        width: 450px;
        height: 450px;
    }

    .nova-iorque{
        font-size: 18px;
        width: 450px;
    }

    .sem-imagem{
        font-size: 18px;
        width: 450px;
    }

    .sem-imagem-pesquisada{
        font-size: 18px;
        width: 450px;
    }

    .bloco-descricao{
        justify-content: center;
    }

    .textos{
        width: 424px;
        margin-right: 10px;
    }

    .bloco-botoes button{
        height: 37px;
        width: 47px;
    }
}

@media screen and (min-width: 846px) {
    .bloco-infos{
        width: 786px;
    }

    .bloco-infos input{
        width: 69%;
    }
}